*{
    font-family: 'Times New Roman', Times, serif;
}
body{
    width: 100%;
    height: 100vh;
    background: url("../../images/bgfix.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.logo {
    width: "150px";
    height: "150px";
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.logo img {
    width: 50%;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 5px;
    margin-left: 50px;
}

form{
    align-items: center;
    margin:100px auto;
    width:200px;
    background: lightcyan;
    padding: 60px;
    border-radius: 30px;
}

form input {
    font-size: 18px;
    padding: 10px 20px 10px 5px;
    border: none;
    outline: none;
    background: none;
}

form input[type = "email"], form input[type = "password"], form input[type = "text"] {
    font-size: 18px;
    padding: 10px 20px 10px 5px;
    border: 1px solid #3498db;
    outline: none;
    background: none;
    border-radius: 24px;
    margin : 5px;
    text-align: center;
}

h2{
    text-align: center;
    color: lightgreen;
    font-weight: bolder;
    font-size: 35px;
    font-family: cursive;
    font-family: 'Times New Roman', Times, serif;
    padding: auto;
}

.style{
    color: lightgreen;
    font-weight: lighter;
    font-size: 20px;
    font-family: cursive;
}

.name .surname .email .password{
    display: block;
    border-radius: 30px;
    border: 1px solid  #3498db;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    outline: none;
    width: 200px;
    transition: 0.25s;
}

.signup{
    text-align: center;
    margin-top: 10%;
    line-height: 0;
    padding: 12px 10px;
    border-radius: 30px;
    transition: 0.5s;
    color: #000;
    background: #9ceca1;
    box-shadow: 0px 5px 30px rgb(65 240 94 / 40%);
    border: none;
    font-size: 18px;
    margin-bottom: 5px;
}

.link{
    text-align: center;
}

a{
    text-decoration: none;
    color: #505050;
}